@model CodeFirst1710.Models.TvcLoai_San_Pham

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TvcLoai_San_Pham</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tvcMaLoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tvcMaLoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tvcTrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tvcTrangThai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.tvcId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
