@model CodeFirst1710.Models.TvcLoai_San_Pham

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TvcLoai_San_Pham</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="tvcId" />
            <div class="form-group">
                <label asp-for="tvcMaLoai" class="control-label"></label>
                <input asp-for="tvcMaLoai" class="form-control" />
                <span asp-validation-for="tvcMaLoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tvcTrangThai" class="control-label"></label>
                <input asp-for="tvcTrangThai" class="form-control" />
                <span asp-validation-for="tvcTrangThai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
