@model IEnumerable<BanHangDataFirst.Models.SanPham>

<h2>Danh sách sản phẩm</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tên sản phẩm</th>
            <th>Đơn giá</th>
            <th>Số lượng</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sp in Model)
        {
            <tr>
                <td>@sp.Id</td>
                <td>@sp.TenSanPham</td>
                <td>@sp.DonGia</td>
                <td>@sp.SoLuong</td>
            </tr>
        }
    </tbody>
</table>
